:root {
    --darkest: #0C0B0B;
    --white: #F8F9F9;
    --lighter: #CBCBCA;
    --mountainGray: #F0F0F0;
    --gold: #EBB342;
}

@font-face {
    font-family: ACMN;
    src: url(assets/font/Acumin-RPro.woff);
}

body {
    background-color: var(--darkest);
    font-family: ACMN;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBar {
    position: absolute;
    z-index: 2;
    width: 10vw;
    height: 3vw;
    display: flex;
    background-color: var(--white);
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition-duration: 1s;
}

.NavImg {
    filter: invert(1);
    top: 0%;
    z-index: 3;
}

.NavBar:hover {
    width: 75vw;
}

.mainImg {
    margin-top: 0px;
    width: 100vw;
}

h1 {
    color: var(--white);
}

p {
    color: var(--white);
}

a {
    color: var(--white);
}