:root {
    --darkest: #0C0B0B;
    --white: #ffffff;
    --lighter: #CBCBCA;
    --mountainGray: #F0F0F0;
    --gold: #EBB342;
}

@font-face {
    font-family: ACMN;
    src: url(assets/font/Acumin-RPro.woff);
}

body {
    background-color: var(--white);
    font-family: ACMN;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBar {
    position: absolute;
    z-index: 2;
    width: 8vw;
    height: 2vw;
    display: flex;
    background-color: var(--white);
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition-duration: 1s;
    background-color: var(--darkest);
    margin-top: 2vw;
}

.NavImg {
    filter: invert(1);
    top: 0%;
    z-index: 3;
    position: relative;
}

.NavBar:hover .NavImg {
    display: block;
    position: static;
}

.NavBar:hover {
    width: 75vw;
}

.NavBar a {
    opacity: 0;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    word-break: keep-all;
}

.NavBar a:hover {
    color: var(--darkest);
    background-color: var(--white);
    border-radius: 25px;
}

.NavBar:hover a {
    opacity: 1;
}

.mainImg { 
    position: relative;
    width: 100vw; 
}

.mainImg img {
    display: block;
    position: relative;
    z-index: 1; width: auto;
    width: 100%;
}

.mainImg .fade {
    position: absolute;
    bottom: 0; width: 100%;
    height: 20%;
    z-index: 2;
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
}

h1 {
    color: var(--darkest);
    font-size: 10vw;
    margin-top: 20vw
}

p {
    color: var(--darkest);
    font-size: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

a {
    color: var(--darkest);
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}