module.exports = {

	//mongodb connection string
	dbURL: 'mongodb://DATABASE:1234@127.0.0.1:27017/DATABASE',

	//database name
	dbName: 'DATABASE',

	//redis connection info
	redis: {
		host: '127.0.0.1',
		port: '6379',
		password: '1234'
	},

	//backend webserver port
	port: 7000,

	//secrets/salts for various things
	cookieSecret: 'changeme',
	tripcodeSecret: 'changeme',
	ipHashSecret: 'changeme',
	postPasswordSecret: 'changeme',

	//keys for google recaptcha
	google: {
		siteKey: 'changeme',
		secretKey: 'changeme'
	},

	//keys for hcaptcha
	hcaptcha: {
		siteKey: '10000000-ffff-ffff-ffff-000000000001',
		secretKey: '0x0000000000000000000000000000000000000000'
	},

	//enable debug logging
	debugLogs: true,

};
